extends ../layout.jade

block contenido
  div(class="col-md-8 remove-float center-block big-top-space")
    h1(class="text-center") Subir nueva imagen
    form(action="/app/imagenes", method="POST", class="form")

      div(class="form-group")
        label(for="titulo") Titulo
        input(type="text",name="title",id="title",placeholder="Titulo", class="form-control")

      div(class="form-group")
        label(for="file") Imagen
        input(type="file",name="file",id="file", class="form-control")

      div(class="form-group")
        div(class="row")
          div(class="col-md-12")
            input(type="submit", class="btn btn-success")
